
.user-info:hover,
.user-info:active{
    transform: scaleY(1.07);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
    background-color:rgb(176, 255, 139);
    font-weight: bold;
}



@media (min-width: 640px) {
    table {
      display: inline-table !important;
    }

    thead tr:not(:first-child) {
      display: none;
    }
  }

  td:not(:last-child) {
    border-bottom: 0;
  }

  th:not(:last-child) {
    border-bottom: 1.5px solid rgba(0, 0, 0, .1);
  }

.td-info:hover,
.td-info:active{
    transform: scaleY(1.15);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
    background-color:rgb(176, 255, 139);
}